@media (max-width: 950px) {

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    .menu {
        bottom: 0;
        text-align: center;
        display: none;
    }

    .menu > div, .menu ul {
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        font-size: 18px;
    }

    .menu > div {
        height: 100vh;
        padding: 0;
    }
    
    .close-menu-label::after {
        content: "≡";
        position: fixed;
        z-index: 2;
        top: 25px;
        right: 25px;
        background-color: var(--title-color);
        color: white;
        font-size: 40px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .welcome h2 {
        text-align: center;
    }

    .welcome p {
        padding-bottom: 70px;
    }

    .intro{
        display: block;
    }

    .intro h2, .intro p {
        padding-bottom: 20px;
    }

    .intro img {
        width: 100%;
    }

    .topthree {
        text-align: center;
        padding: 50px 10px;
    }

    .topthree p {
        padding: 0 40px;
    }

    .grid-section, .footer-head {
        grid-template-columns: 1fr;
    }

    .gallery-images {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-images img {
        width: 100%;
    }

    .footer-img {
        display: none;
    }

    .princing-header {
        margin: 60px 120px 60px 0px;
        padding-right: 60px;
    }

    .princing {
        padding: 50px;
        text-align: center;
    }
}